html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  overflow-x: hidden;
  color: $primaryFontColor;
  background-image: url('assets/movieBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $secondaryFont;
}

img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.wrapper {
  max-width: 1150px;
  margin: 0 auto;
}