.firstDisplayContainer {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.resultsContainer {
    display: flex;
    background-color: $resultBackground;
    margin: 30px auto;
    width: 100%;
    justify-content: left;
}

.testContainer {
    width: 50%;
    display: flex;
}

.movieImage {
    width: 300px;
    padding: 20px;
}

.movieImage img {
    height: 100%;
}

.movieText {
    width: 50%;
    font-size: 1.5rem;
    padding-left: 10px;
    line-height: 1.6;
}

.movieDetails {
    width: 50%;
    padding: 10px 15px 10px 15px;
    line-height: 1.6;
}