.firstDisplayContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.resultsContainer {
  display: flex;
  background-color: $resultBackground;
  margin: 30px auto;
  width: 100%;
  justify-content: left;
  transition: all 0.7s;
  position: relative;
}

.resultsContainer:hover {
  box-shadow: 18px 13px 18px -4px rgba(139, 0, 0, 1);
  transform: scale(1.01);
}

.movieDetailContainer {
  width: 100%;
  display: flex;
}

.movieImage {
  width: 300px;
  padding: 30px;
}

.movieImage img {
  height: 100%;
}

.movieText {
  width: 50%;
  font-size: 1.5rem;
  padding-left: 10px;
  line-height: 1.6;
}

.movieDetails {
  width: 50%;
  padding: 10px 15px 10px 15px;
  line-height: 1.6;
}

.accessibility {
  padding: 0;
  margin: 0;
  background-color: rgba(87, 96, 102, 0);
  border: none;
  color: $primaryFontColor;
  text-align: left;
}

.overlayText {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  font-size: 2rem;
  opacity: 0;
  padding-right: 50px;
  transition: all 0.7s;
}

.overlayText:hover,
.overlayText:active {
  opacity: 1;
}

.overlayText .expand {
  color: white;
  opacity: 1;
  width: 40px;
}

.notAvailable {
  text-align: center;
}
