// //variables for color

$primaryFontColor: #e9ebee;
$bodycolor: black;
$borderHeader: yellow;
$resultBackground: rgba(87, 96, 102, 0.5);

$primaryFont: "Dancing Script", cursive;
$secondaryFont: "Open Sans", sans-serif;
