@import "setup";
@import "variables";
@import "general";
@import "header";
@import "searchResults";

// $primaryFontColor: white;
// $bodycolor: black;

// $primaryFont: "Dancing Script", cursive;
// $secondaryFont: "Open Sans", sans-serif;

@media (max-width: 1070px) {
  .movieTitle {
    margin-top: 40px;
  }

  .movieDetails {
    margin-top: 32px;
  }

}

@media (max-width: 900px) {
  .resultsContainer {
    flex-direction: column;
    justify-content: space-between;
  }

  .testContainer {
    justify-content: center;
    width: 90%;
  }

  .movieDetails {
    width: 100%;
    padding: 20px;
    margin: 15px;
  }

  // .moviePlot {
  //   width: 90%;
  // }
}

@media (max-width: 550px) {
  
  .resultsContainer {
    align-items: center;
  }
  .testContainer {
    flex-direction: column;
    width: 100%;
  }

  .movieImage {
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
  }

  .movieText {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .movieDetails p{
    text-align: center;
    padding: 0 20px;
  }

}


@media (max-width: 400px) {
  h1 {
    font-size: 7rem;
  }

  .slogan {
    font-size: 1.7rem;
  }
}






